{% extends "base.html" %}

     {% block title %}
        <title>
            Контакты
        </title>
     {% endblock %}

{% block content %}
<h1>Страница контактов</h1>
<h2>{{value}}</h2>
    <br><br><br>
    <divcenter>
		<h2 class="forms">Форма обратной связи</h2>
		<form method="post" class="new_form">
			<input type="text" name="name"  title="Введите ваше имя" placeholder="Имя"  required >
			<input type="text" name="email" placeholder="Почта" required>
			<textarea name="message" placeholder="Сообщение" required></textarea>
			<input type="submit" value="Отправить">
		</form>
	</divcenter>
{% endblock %}

