{% extends "base.html" %}

     {% block title %}
        <title>
            Контакты
        </title>
     {% endblock %}

    {% block css %}
<style>

divcenter {
    width: 680px;
    display: block;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
} form.new_form {
    width: 600px;
    border: 1px solid red;
    display: block;
}form.new_form textarea {
    width: 99%;
    margin: 10px 0;
    height: 100px;
    resize: none;
    text-indent: 20px;
    padding: 12px 0;
}form.new_form input[type="text"] {
    width: 49%;
    padding: 10px 0;
    text-indent: 15px;
}form.new_form input {
    width: 49%;
    padding: 10px 0;
    text-indent: 15px;
}form.new_form {
    width: 600px;
    border: 1px solid #cecece;
    display: block;
    height: 210px;
    padding: 40px;     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);     margin: auto;
}form.new_form input[type="submit"] {
    float: right;
} h2.forms {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    color: #b1b1b1;
    text-transform: uppercase;
}

</style>
    {% endblock %}

{% block content %}
<h1>Страница контактов</h1>
<h2>{{value}}</h2>
    <br><br><br>
    <divcenter>
		<h2 class="forms">Форма обратной связи</h2>
		<form method="post" class="new_form">
			<input type="text" name="name"  title="Введите ваше имя" placeholder="Имя"  required >
			<input type="text" name="email" placeholder="Почта" required>
			<textarea name="message" placeholder="Сообщение" required></textarea>
			<input type="submit" value="Отправить">
		</form>
	</divcenter>
{% endblock %}

