{% extends "base.html" %}

     {% block title %}
        <title>
            Предлагаемые курсы
        </title>
     {% endblock %}

{% block content %}
<h1>Страница курсов</h1>
<h2>{{value}}</h2>
        {% if not courses %}
        <h2 style="color: red;">НЕТ ДОСТУПНЫХ КУРСОВ</h2>
        {% endif %}



                {% for course in courses %}
                <form action = '/copy-course' method='post'>
                    <input type="hidden" name="name" value={{course.name}}>
                    <ul>
                        <li>{{course.category.name}}------>{{course.name}}
                            <span>
                                <input type="submit" value="скопировать">
                            </span>
                        </li>
                    </ul>
                </form>
                {% endfor %}


{% endblock %}

