<h1>Меню</h1>


<div class="menu">
    <ul style="margin-left: 40px;">
        <li><a href="/">Главная</a></li>
        <li><a href="/categories">Список категории</a></li>
        <li><a href="/create_category">Создать категорию</a></li>
        <li><a href="/courses">Список курсов</a></li>
        <li><a href="/create_course">Создать курс</a></li>
        <li><a href="/student-list/">Список студентов</a></li>
        <li><a href="/create-student/">Создать студента</a></li>
        <li><a href="/add-student/">Добавить студента на курс</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <li><a href=""></a></li>
        <li style="color: red;"><a href="/deb/">DEBUG</a></li>
    </ul>
</div>