{% extends "base.html" %}

     {% block title %}
        <title>
            Создание категории
        </title>
     {% endblock %}

{% block content %}
    <h1>Список студентов</h1>
    <ul style="margin-left: 40px;">

        {% for item in objects_list %}
        <li>
            {{item.name}}:
            {% if not item.courses %}
                Студен не записан ни на один курс!
            {% endif %}

            {% if item.courses %}
                {% for course in item.courses %}
                    {{course.name}};
                {% endfor %}
            {% endif %}

        </li>
        {% endfor %}
    </ul>
{% endblock %}